*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(238, 238, 238);
    width: 100vw;
    height: 100vh;
}
.container-child{
    background-color: rgb(230, 230, 230);
    height: 400px;
    width: 560px;
}
.container-child >p{
    margin: 20px ;
    font-size: 24px;
    text-align: center;
}
.inputs{
   text-align: center;
}
input[type="text"]{
    width: 30px;
    padding: 7px;
    outline: invert;
    border: none;
}
button{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 20px 45%;
}
#result{
    margin: 100px ;
    text-align: center;
}
